pytest
torchsummary
scipy
sklearn==0.0
librosa==0.7.1
numpy==1.17.4
torchnet==0.0.4
ipdb
tensorboard
notebook
tensorboardX==1.6
torchvision
torch
cython
# pycocotools
sonopy==0.1.2
git+https://github.com/hustzxd/pytorch-gradual-warmup-lr.git
numba==0.49.1